body {
  font-family: Arial,sans-serif;
  margin:0;
  background-color:white;
  color: black;

}
header {
  background-color: orange;
  color: white;
  padding: 15px 0;
  text-align: center;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header h1{
  margin: 0;
}

nav a {
  color: white;
  text-decoration:underline;
  margin: 0 15px;
  font-weight: bold;
  transition: 0.3s;
}
nav a:hover {
  text-decoration: underline;
}

.menu {
  text-align: center;
  padding: 40px 20px;
}

.menu h2 {
  color: orange;
  font-size: 28px;
  margin-bottom:25px ;
}

.menu-container {
  display: grid;
  grid-template-columns:repeat(3,1fr);
  gap: 25px;
  padding:20px;
  justify-items:center;
}
.menu-item {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 2px rgba(0,0,0,0,1);
  padding: 15px;
  transition: transform 0.3s,box-shadow 0.3s;
}
.menu-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0,0,0.15);
}
.menu_item img{
  width: 100%;
  height: 160px;
  border-radius: 10px;
  object-fit: cover;
}
.menu-item h3 {
  margin: 10px 0 5px;
  color: gray;

}

.menu-item p {
  columns:gray;
  font-size: 14px;
  margin-bottom: 10px;
}

.menu-item span {
  display: block;
  font-weight: bold;
  font-size: 16px;
  color:orange ;
  margin-bottom: 10px;

}
.menu-item button {
  background-color: orange;
  color: white;
  border: 0cm;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.menu-item button:hover {
  background-color: orange;
}
footer {
  text-align: center;
  background-color: orange;
  color: white;
  padding: 10px;
  margin-top: 30px;
}