body{
    font-family: rial,sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color:black;
}
header {
    background-color: orange;
    color: white;
    padding: 15px 0;
    text-align: center;

}
form h2 {
    margin: 0;
    font-size: 28px;
    font-style: italic;
    text-align: center;




}
p { text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 16PX;
    cursor: Black;
    margin-bottom: 20px;


}


nav {
    margin-top: 10px;

     
}
nav a{
    color: white;
    text-decoration: underline;
    margin: 0 15px;
    font-weight:bold;
    font-style: italic;
}
nav a:hover {
    text-decoration: underline;
}
#order {
    background-color: white;
    max-width: 650px;
    margin: 40px auto;
    padding: 25px;
    border-radius: 12px;
    border-color: black;
    box-shadow: 0 0 20px rgba(0,0,0,0.5) ;
}
#order h3 {
    text-align: center;
    color: orange;
}
#order p {
    text-align: center;
    font-size: 15px;
    color: gray;
}

input[type="text"],
input[type="tel"],
textarea,
select {
    width: 100%;
    padding: 15px;
    border: 1px solid gray;
    border-radius: 6px;
    font-size :  14px;
    margin-top: 5px;
    background-color: white;

}
textarea {
    resize: none;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
}

button {
    background-color: orange;
    color: white;
    padding: 12px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background-color: orange;
}

footer {
    text-align: center;
    padding: 15px;
    background-color:orange;
    color: black;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
    text-align: center;
    font-style : italic;
    font-weight: bold;
    font-size: medium;

}
foot{
    color: black;
}
