/* General reset and font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fffaf6;
  color: #333;
  line-height: 1.6;
}

/* Header and Navigation */
header {
  background-color: #ff7043;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header h2 {
  font-size: 26px;
  letter-spacing: 1px;
  font-style: italic;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  text-decoration: underline;
  color: #ffe0b2;
}

/* Hero Section */
#home {
  background: url("https://images.unsplash.com/photo-1600891964599-f61ba0e24092") no-repeat center center/cover;
  height: 85vh;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

#home p {
  font-size: 18px;
  margin-bottom: 20px;
}

#home button {
  background-color: #ff7043;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

#home button:hover {
  background-color: #e64a19;
}

/* Order Section */
#order {
  text-align: center;
  padding: 60px 20px;
}

#order h2 {
  font-size: 28px;
  color: #ff7043;
  margin-bottom: 30px;
}

#order img {
  width: 220px;
  height: 160px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: 0.3s;
}

#order img:hover {
  transform: scale(1.05);
}

/* About Section */
#about {
  background-color: #fff3e0;
  padding: 60px 20px;
  text-align: center;
}

#about h2 {
  font-size: 28px;
  color: #ff7043;
  margin-bottom: 20px;
}

#about p {
  max-width: 700px;
  margin: auto;
  font-size: 17px;
}
/* Login Section */
#login {
  background-color: #fff3e0;
  text-align: center;
  padding: 80px 20px;
}

#login h2 {
  color: #ff7043;
  font-size: 28px;
  margin-bottom: 25px;
}

#login form {
  background-color: white;
  display: inline-block;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: left;
}

#login label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  color: #333;
}

#login input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}

#login button {
  width: 100%;
  background-color: #ff7043;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

#login button:hover {
  background-color: #e64a19;
}

/* Footer */
footer {
  background-color: #ff7043;
  color: black;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
  font-size: 15px;
  
}